ACME_EMAIL=admin@example.com

APP_DOMAIN=pleingazloc.fr
ADMIN_DOMAIN=admin.pleingazloc.fr
API_DOMAIN=api.pleingazloc.fr
AUTH_DOMAIN=auth.pleingazloc.fr

POSTGRES_DB=moto_rental
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-this-keycloak-admin-password
KEYCLOAK_REALM=moto-rental
KEYCLOAK_CLIENT_ID=moto-rental-backend
KEYCLOAK_CLIENT_SECRET=backend-secret-dev
