ACME_EMAIL=contact@pleingazloc.fr

APP_DOMAIN=pleingazloc.fr
API_DOMAIN=api.pleingazloc.fr
ADMIN_DOMAIN=admin.pleingazloc.fr
AUTH_DOMAIN=auth.pleingazloc.fr

POSTGRES_DB=moto_rental
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME
KEYCLOAK_REALM=moto-rental
KEYCLOAK_CLIENT_ID=moto-rental-backend
KEYCLOAK_CLIENT_SECRET=CHANGE_ME

STRIPE_SECRET_KEY=CHANGE_ME
