{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	route /api/* {
		reverse_proxy backend:3000
	}

	route {
		reverse_proxy frontend:3000
	}
}

dev.pleingazloc.fr {
	encode zstd gzip

	route /api/* {
		reverse_proxy host.docker.internal:13000
	}

	route /auth* {
		reverse_proxy host.docker.internal:18080
	}

	route {
		reverse_proxy host.docker.internal:13001
	}
}

admin-dev.pleingazloc.fr {
	encode zstd gzip
	reverse_proxy host.docker.internal:13002
}

{$ADMIN_DOMAIN} {
	encode zstd gzip
	reverse_proxy admin:80
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy backend:3000
}

{$AUTH_DOMAIN} {
	encode zstd gzip
	reverse_proxy keycloak:8080
}
